.App{
    background-color: #282c34;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginMain{
  background-color: rgb(0, 0, 0);
  max-width: 500px;
  padding: 15px;
  border-radius: 10px;
}

.loginMain h1{
  color: rgb(243,140,35);
}

.inputBG{
  background-color: rgb(67, 67, 67);
  color: white;
}

.img_menu{
  height: 100px;
}

#wrapper{
  margin-bottom: 100px;
}

.same_line {
  display: flex;
}

.same_line > div {
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}

.chart-small {
  width: 100%;
}

hr {
  border-width: 20px; /* Defina a grossura da linha desejada */
  margin: 30px;
}

.apexcharts-xaxis-label {
  fill: #FFFFFF; /* Cor do texto do eixo X (branco) */
}
.apexcharts-menu {
  background-color: black !important;
}

.centerPosition{
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}